ul{

list-style-type: none;
margin-top: 0;
overflow:hidden;
display: inline-block;


text-align: center;

}



ul li{
background-color: #8f9f87;
float: left;



}




ul li a {
text-decoration: none;

display: block;
padding: 45px;


color: white;

}

ul li a:hover {
color: green;
}



.bild{
background-image: url(Pc.jpg);
background-repeat: no-repeat;
background-size: 100%;

}



nav{




}


h2{

text-align: center;
color: white;

}




.Grafikkort{

  list-style-type: none;

  margin: auto;

width: 60%;
height: 700px;


    border: 5px solid #FFFF00;


    padding: 10px;








    background-color: white;
  text-align: center;



}
.bilden{
width: 90%;
height: 60%

}
